<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <intent>
            <action android:name="org.adw.launcher.THEMES" />
        </intent>

        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>

        <intent>
            <action android:name="com.anddoes.launcher.THEME" />
        </intent>

        <intent>
            <action android:name="com.teslacoilsw.launcher.THEME" />
        </intent>

        <intent>
            <action android:name="com.gau.go.launcherex.theme" />
        </intent>
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mako">

        <activity
            android:exported="false"
            android:name=".activities.AboutActivity"
            android:label="@string/activity_about_mako_header" />

        <activity
            android:exported="false"
            android:name=".activities.LockActivity"
            android:label="@string/activity_lock_header" />

        <activity
            android:exported="false"
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings_header" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Temporary default launcher for IDE -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
